
html, body {
/*    background-color: rgb(245, 245, 245);*/
    overflow-x: hidden;
    background: linear-gradient(-45deg, #5f5f5f, #fdc4da, #bebcbc, #a56f71, #f5f5f5);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

/*
     
   background: radial-gradient(#f03838, rgba(253, 0, 0, 0), rgba(255, 255, 255, 0));
        animation: color-change 10s ease infinite;
      }

      @keyframes color-change {
        0% {
          background: radial-gradient( #898989, #bdc3c7, #2c3e50);
        }
          25% {
          background: radial-gradient(#c34d76, #ffe1ec, #cc547e);
        }
        50% {
          background: radial-gradient( #2c3e50, #bdc3c7, #2c3e50);
        }
        100% {
          background: radial-gradient( #454545, #d1d1d1, #404040);
        }
      }
*/
    
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
  outline: none;
}

::-webkit-scrollbar {
    display: none;
}



/* TEXT */
p {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  hyphens: auto;
  text-indent: 2rem;
  margin-left:7rem;
  padding-right:5rem;
}

h1{
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  font-size: 14rem;
  line-height: 11.5rem;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
    
}

h2{
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  font-size: 5.5rem;
  line-height: 6.05rem;
  padding-left: 0px;
  padding-right: 15rem;
  text-align: left;
    hyphens: auto;
    margin-top: 10rem;
    margin-bottom:2rem;
    
    
}

h3{
    font-family: "ivypresto-display", serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid;
    border-top: solid;   
    font-size: 2.5rem;
    line-height: 2.6rem;
    text-align: center;
}

.references{
    
font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
    line-height: 2rem;
  color: rgb(20, 20, 20);
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
    margin:0.7rem;
    
}


sup {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  vertical-align: baseline;
  position: relative;
  top: -0.8em;
}

.abstract-body{
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  font-size: 4rem;
  line-height: 4.2rem;
  padding: 0.5rem;
  text-align: center;
  margin-top:2rem;    
}

h4{
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  font-size: 3rem;
  line-height: 3.2rem;
  padding: 0.5rem;
  text-align: left;
  margin-top:2rem;    
}

.abstract{
  margin-top:15rem;
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  font-size: 5.5rem;
  line-height: 6.05rem;
  text-align: center;
    hyphens: auto;
}

.bibliography{
  background-color:#f0f0f0;
  margin-top:15rem;
    margin-bottom:2rem;
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  font-size: 5.5rem;
  line-height: 6.05rem;
  text-align: center;
    hyphens: auto;
    padding: 2rem;
    border:solid;
    border-radius: 30px;
    
}


/*HERO*/
.hero {
    position: relative;
    top: 40px;
    width: 50%;
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    overflow: scroll;
    z-index: 1;
}


.flex-container {
    position: relative;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}



/* IMAGES */

img {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
    object-fit: cover;
}

img:hover {
  filter: grayscale(0%);
}

.grid {
 position: relative;
 padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    margin-bottom: 60px;
}

.image-grid-1 {
 position: relative;
 margin-top: 60px;
    margin-bottom: 10px;
  margin-left:0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.image-grid-2 {
    position: relative;
  margin-left:0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}



.image-2 {
  position: relative;
  margin-left:400px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-3 {
  position: relative;
  margin-right:400px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-4 {
  position: relative;
  margin-left:300px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-5 {
  position: relative;
  margin-left:0px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-9 {
  left:350px;
  position: relative;
  margin-top:60px;
  margin-bottom: 60px;
}




.image-footnotes {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}



/* TITLE HEADER */

.bg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  top: 0px;
  z-index: 99;
}

.bg-left {
  height: 5%;
  width: 100%;
  background: rgb(245, 245, 245);
  float: left;
}


.page-header {
    position:fixed ;
    z-index: 98;
    width: 100%;
    align-items: center;
    height: 40px;
}

#title-grey {
    font-size: 18px;
    position: fixed;
    font-family: 'PPHatton';
    color: rgb(18, 18, 18);
    text-align: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
    left:20%;
    right:20%;
    width: 60%;
    height: 5%;
    z-index: 200;
}

nav {
  display: block;
  transform: translateY(-100%);
  transition-duration: 0s;
}

nav.close {
  transition-duration: 0.5s;
  transform: translateY(-100%);
}

nav.open {
  transition-duration: 0.5s;
  transform: translateY(0%);
}

.menu {
  list-style: none;
  /* padding: 30px; */
  height: 100vh;
  background: rgb(245, 245, 245);
}

.menu li {

  padding: 15px 15px;
  font-size: 4.0rem;
  text-align: left;
  line-height: 3.8rem;
}

.menu li a {
  position: relative;
  top: 100px;
  left:50px;
  text-decoration: none;
  color: black;
  transition: opacity 0.3s;
  margin-top:15rem;
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  z-index: 99999999999999;
}

#toggle {
  position: fixed;
  z-index: 999999;
  top: 20px;
  left: 30px;
  width: -10px;
  height: -10px;
  color: rgb(18, 18, 18);
  cursor: pointer;
  z-index: 99;
}

#toggle .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle span {
  background-color: #000000;
  width: 20px;
  height: 2px;
  display: block;
  margin: 6px 0px;
}

#toggle.open span {
  margin: -1.1px;
  transition-duration: 0.2s;
}

#toggle.open span:nth-child(1) {
  transform: rotate(45deg);
}

#toggle.open span:nth-child(2) {
  display: none;
}

#toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#toggle.close span {
  display: block;
  margin: 6px 0px;
  transition-duration: 0.2s;
  transform: rotate(0deg);
}


  

  /* FOOTNOTE */

  .footnote-ref a{
    color: rgb(85, 85, 85);
  }
  .bottom-panel {
    position: fixed;
    font-size: 0.9rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .popup-wrapper {
    display: none;
    max-width: 100%;
    margin: 0 auto;
    color: black;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid black;
    z-index: 5;
  }

  #popup-index {
    padding: 1.25rem 0 0 1.25rem;
    z-index: 5;
  }

  #popup-close {
    padding: 1.25rem;
    margin-left: auto;
    cursor: pointer;
    z-index: 5;
  }

  #popup-content {
    min-width: 50%;
    text-align: left;
    margin-right: 20px;
    padding: 1.25rem 0 1.25rem 0.9rem;
  }
  ol{
    display: none;
  }





/* //////////////////MOBILE VERSION 800 px////////////////// */

@media screen and (max-width: 800px) {

  html, body { overflow-x: hidden }


  .hero{
    position:relative;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    
  }

  .flex-container{
    position:relative;
    box-sizing: border-box;
    width: 100%;
      margin: 0;
      padding:2%;
  }
    
    
    img{
        position: relative;
        width:100%;
        height: auto;

    }
    
    
    image-1 {
  left:0px;
  
}

  
  p {
    font-size: 2rem;
  line-height: 2.4rem;
      padding-left: 0.2%;
      
  }

    .menu li {
  font-size:3.5rem;
  text-align: left;
  line-height: 3.05rem;
}
    
    .menu li a {
  position: relative;
  top: 100px;
  left:20px;
    }
    
  h1 {
    font-size: 8.1rem;
    line-height: 9.4rem;
    padding-top: 100px;
  }
    
  h3{
    
    margin-top: 9rem;  
    font-size: 1.5rem;
    line-height: 1.6rem;
}
    
   
    .abstract{
    margin-top:7rem;
    }
    
    .abstract-body{
        font-size: 3rem;
  line-height: 3.2rem;
    }

  #title-bar > h1 {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0px;
  }

  .image-footnotes {
    font-size: 12px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .image-footnotes-italic {
    font-size: 12px;
  }
  
    

}


@media screen and (max-width: 380px) {

  html, body { overflow-x: hidden }

    
    
    img{
        position: relative;
        width:100%;
        height: auto;
    }
    
    
    image-1 {
  left:0px;
}

  
  p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin:0;
    padding: 0;
      
  }

.menu li {
  font-size:2.2rem;
  text-align: left;
  line-height: 2.02rem;
}
    
    .menu li a {
  position: relative;
  top: 40px;
  left:10px;
    }
    
  h1 {
    font-size: 4.1rem;
    line-height: 4.4rem;
    padding-top: 100px;
    padding-left: 0;
      padding-right: 0;
      padding-top: 120px;
      
  }
    
    h2 {
    font-size: 4.1rem;
    line-height: 4.4rem;
    padding-left: 0;
      padding-right: 0;

      
  }
    
  h3{
    
    margin-top: 9rem;  
    font-size: 1.2rem;
    line-height: 1.4rem;
      padding-left:3%;
      padding-right:3%;
      
}
    
    .image-footnotes{
        padding-top: 0px;
  padding-left: 0px;
  padding-right:0px;
    }
    
    
   .image-2 {
  position: relative;
  margin-left:0px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-3 {
  position: relative;
  margin-right:0px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-4 {
  position: relative;
  margin-left:0px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-5 {
  position: relative;
  margin-left:0px; 
  margin-top:60px;
  margin-bottom: 60px;
}

.image-9 {
  left:0px;
  position: relative;
  margin-top:60px;
  margin-bottom: 60px;
}
   
    .abstract{
    margin-top:5rem;
    }
    
    .abstract-body{
        font-size: 1.5rem;
  line-height: 1.7rem;
    }

    .bibliography{
  
  font-size: 3.5rem;
  line-height: 4.05rem;   
}
    
    .references{

  font-size: 0.8rem;
    line-height: 1rem;
  
  padding-left: 2px;
  padding-right: 2px;
        margin: 0;
  
    
}
    
  #title-bar > h1 {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0px;
  }

  .image-footnotes {
    font-size: 12px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .image-footnotes-italic {
    font-size: 12px;
  }
/*
  @keyframes slider {
      0%   { top:   -140em }
      100% { top: 0em }
  }
.slider {
    line-height: 5.8em;
}
.slider p {
  font-size: 100px;
}
.slider2 {
    line-height: 4.5em;
}
.slider2 p {
  font-size: 85px;
}
*/
}
